:root {
    --accent: #01a7c1;
    --secondary: #e653c4;
    --accent-fg: white;
    --bg: url("/assets/colors.jpg");
    --key-bg: var(--secondary);
    --key-fg: white;

    --container-fg: black;
}

body {}

.game-container {
    /* display: none; */
}
